
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/materialize/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Black Swan</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      
      <h1 class="header center blue-text"><%= title %></h1>
      <div class="row">
          <form class="col s12 m6" action="/create" id="contact-form" method="POST">
            <div class="row">
                <div class="input-field col s10">
                  <i class="material-icons prefix">account_circle</i>
                  <input name="name" id="icon_prefix" type="text" class="validate" required>
                  <label for="icon_prefix">Nome Completo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                  <i class="material-icons prefix">email</i>
                  <input name="email" id="icon_telephone" type="email" class="validate" required>
                  <label for="icon_telephone">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                  <i class="material-icons prefix">phone</i>
                  <input name="phone" id="icon_telephone" type="tel" class="validate" required>
                  <label for="icon_telephone">Telefone</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Criar Contato
                  <i class="material-icons right">send</i>
                </button>
            </div>
          </form>
          <div class="row col s12 m6">
            <form action="" id="search-form" method="POST">
              <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input name="search" id="input-search" type="text">
                <label for="input-search">Pesquisar</label>
              </div>          
            </form>
            <ul class="collapsible">
            <% for(let i = 0; i < contacts.length ; i++) {%>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">person</i>
                <%= contacts[i].name %>
              </div>
              <div class="collapsible-body">
                <form  method="POST" action="/update">
                  <input type="text" name="id" value="<%= contacts[i]._id %>" hidden>
                  <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input onkeyup="enable_submit_edit()" value="<%= contacts[i].name %>" name="name" id="nome_update" type="text" class="validate" required>
                        <label for="nome_update">Nome</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input onkeyup="enable_submit_edit()" value="<%= contacts[i].email %>" name="email" id="email_update" type="email" class="validate" required>
                        <label for="email_update">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input onkeyup="enable_submit_edit()" value="<%= contacts[i].phone %>" name="phone" id="phone_update" type="tel" class="validate" required>
                        <label for="phone_update">Telefone</label>
                      </div>
                  </div>                  
                  <button id="submit_edit" class="btn waves-effect waves-light disabled" type="submit" name="action">Salvar Edições</button>
                </form>
                <div class="row center">
                    <form action="/delete" method="POST" >
                      <input type="text" name="id" value="<%= contacts[i]._id %>" hidden>
                      <button class="btn-flat red-text" type="submit" name="action">Excluir Contato</button>
                    </form>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
          
        </div>
      </div>
      <br><br>

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize/materialize.js"></script>
  <script src="javascripts/materialize/init.js"></script>

  <script defer>
    //Ativa o component de collapsible da lista de contatos
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });

    // Função para ativar botão de editar caso o input mude.
    function enable_submit_edit (){
      document.querySelector('#submit_edit').classList.remove('disabled');
    }
        
  </script>
  </body>
</html>
